In [3]:
import pandas as pd

df = pd.read_csv("Qwen result.csv")  
df = df.dropna(how="all")

df

,Speaker,Timestamp_Minutes,Unnamed: 2,Utterance,gold_label,Qwen_zeroshot,qwen_label,Qwen_finetuned,lora_label
0,Chris,0.0,3.0,if you guys can put this microphone on your wh...,0.0,NO,0.0,NO,0.0
1,Natalie,0.0,20.0,Shall we .. Did you guys read it or-,0.0,NO,0.0,NO,0.0
2,Henry,0.0,22.0,Yeah,0.0,NO,0.0,NO,0.0
3,Ryan,0.0,23.0,Yeah,0.0,NO,0.0,NO,0.0
4,TA,NaN,3.0,Don't forgot to put in your name,0.0,NO,0.0,NO,0.0
...,...,...,...,...,...,...,...,...,...
493,Ryan,30.0,4.0,Yeah (laughs) good enough for me,0.0,NO,0.0,NO,0.0
494,Natalie,30.0,7.0,"The exoplanet looks more like a jawbreaker, a...",0.0,NO,0.0,NO,0.0
495,Natalie,NaN,NaN,Like a gumball or something.,0.0,NO,0.0,NO,0.0
496,Ryan,NaN,NaN,Mhm.,0.0,NO,0.0,NO,0.0
497,Rodrigo,30.0,38.0,"Is everyone done? Ok, here you have a survey. ...",0.0,NO,0.0,NO,0.0

In [4]:
from sklearn.metrics import cohen_kappa_score

k_qwen = cohen_kappa_score(df["gold_label"], df["qwen_label"])
k_lora = cohen_kappa_score(df["gold_label"], df["lora_label"])

print("Kappa (Human vs Qwen zeroshot):", round(k_qwen, 3))
print("Kappa (Human vs LoRA-Qwen):   ", round(k_lora, 3))
print("Δ Kappa:", round(k_lora - k_qwen, 3))

Kappa (Human vs Qwen zeroshot): 0.449
Kappa (Human vs LoRA-Qwen):    0.416
Δ Kappa: -0.033

In [6]:
from sklearn.metrics import confusion_matrix

def confusion_01(gold, pred):
    # labels=[0,1] 
    tn, fp, fn, tp = confusion_matrix(
        gold, pred, labels=[0, 1]
    ).ravel()
    return {
        "TP": tp,  # 1 → 1
        "FP": fp,  # 0 → 1
        "FN": fn,  # 1 → 0
        "TN": tn,  # 0 → 0
    }

conf_qwen = confusion_01(df["gold_label"], df["qwen_label"])
conf_lora = confusion_01(df["gold_label"], df["lora_label"])

print("Qwen zeroshot:", conf_qwen)
print("LoRA Qwen:   ", conf_lora)

Qwen zeroshot: {'TP': np.int64(21), 'FP': np.int64(12), 'FN': np.int64(31), 'TN': np.int64(434)}
LoRA Qwen:    {'TP': np.int64(31), 'FP': np.int64(44), 'FN': np.int64(21), 'TN': np.int64(402)}